<div class="show-keys">
  <div class="show-keys__inner">
    <ul>
      <li>
        Encrypted Consumer Key: <span class="pink"><%= @user.consumer_key %></span>
      </li>
      <li>
        Encrypted Consumer Secret: <span class="pink"><%= @user.consumer_secret %></span>
      </li>
    </ul>
  </div>
</div>
